
// Color
$headline-color: $blue;


// Headings
h1, h2, h3, h4, h5 {
	color:$headline-color;
	text-transform:uppercase;
	@include rem(margin-bottom, 1rem);
	@include font(Open Sans, 700);

	// Headings that are also links
	a,
	a & {
		color: $headline-color;
		text-decoration: none;

		&:hover {
			color: $link-hover-color;
		}
	}
}

h1 { @include rem(font-size, 4.5rem); }
h2 { @include rem(font-size, 3.2rem); }
h3 { @include rem(font-size, 2.2rem); }
h4 { @include rem(font-size, 2.1rem); }
h5 { @include rem(font-size, 1rem); }
