
%form-styles {
	background: $white;
	color: $body-copy-color;
	border: 1px solid $light-gray;
	@include rem(padding, 1rem);
	@include font(Open Sans, 400);

	&:focus, &:active {
		background: $white;
		border: 1px solid $light-gray;
	}
}


form {}

label {
	.required {
		color: $red;
	}
}

textarea {
	@extend %no-webkit;
	@extend %form-styles;
	@include placeholder($blue);
}


input {

	// ------- Standard Fields ------- //

	// Text Input
 &[type="text"], &[type="email"], &[type="tel"], &[type="url"], &[type="password"], &[type="search"] {
 	@extend %no-webkit;
 	@extend %form-styles;
 	@include placeholder($blue);
 }

	// Submit Button
 &[type="submit"] {
 	@extend %no-webkit;
 	@extend .button;
 }


	// ------- Field Specific ------- //

	// Text
 &[type="text"] {}

	// Contact Fields
 &[type="email"] {}
 &[type="tel"] {}

 // URL
 &[type="url"] {}

 // Search
 &[type="search"] {}

 // Numbers
 &[type="number"] {}

 // Range (Slider)
 &[type="range"] {}

 // Passwords
 &[type="password"] {}

 // Submit and Buttons
 &[type="submit"] {}
	&[type="button"] {}
 &[type="image"] {}
 &[type="reset"] {}

 // Checkbox & Radio Button
 &[type="checkbox"] {}
 &[type="radio"] {}

 // Time and Dates
 &[type="time"] {}
 &[type="date"] {}
 &[type="datetime"] {}
 &[type="datetime-local"] {}
 &[type="month"] {}
 &[type="week"] {}

 // Color
 &[type="color"] {}

 // Files
 &[type="file"] {}
}


