#comments {
	@include rem(margin-top, 4rem);

	.comments-title {}

	// List of Comments
	.comment-list {
		list-style: none;
		@include rem(margin-bottom, 2rem);

		.comment {
			background: $super-light-gray;
			@include rem(padding, 1.5rem 2rem 2rem);
			@include rem(margin-bottom, 1.5rem);

			.comment-meta {
				border-bottom: 1px solid $light-gray;
				@include rem(margin-bottom, 1.5rem);
				@include rem(padding-bottom, 1.5rem);
				@extend %clearfix;

				// Author Information
				.comment-author {
					float: left;

					img {
						@include rem(margin-right, 1rem);
					}
					.fn {}
					.says {}
				}

				// Date Information
				.comment-metadata {
					float: right;
					position: relative;
					@include rem(top, 2.1rem);
					@include rem(font-size, 1.2rem);
					a {}
					time {}
				}
			}

			// Comment Content
			.comment-content {
				line-height: 1.6;
			}

			// Reply Button
			.reply {
				@extend %clearfix;

				.comment-reply-link {
					float: right;
					// @include rem(font-size, 1.4rem);
					@extend .button;
				}
			}

			// Respond to a comment
			.comment-respond {
				border-top: 1px solid $light-gray;
				@include rem(margin-top, 2rem);
				@include rem(padding-top, 2rem);
			}
		}
	}

	#respond {}

	// Response Form
	.comment-form {
		@include rem(margin-top, 2rem);
	}

	.comment-notes {
		@include rem(font-size, 1.4rem);
		@include rem(margin-bottom, 2rem);
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.comment-form-comment {
		float: left;
		width: 49%;
		margin-right: 2%;

		label,
		input,
		textarea {
			display: block;
			width: 100%;
		}

		label {
			@include rem(margin-bottom, 1rem);
		}
	}

	.comment-form-email,
	.comment-form-comment {
		margin-right: 0;
	}
}