
/* Colors
================================================================================================= */
$blue: #3498db;
$orange: #e67e22;
$green: #2ecc71;
$purple: #8e44ad;
$red: #e74c3c;
$yellow: #f1c40f;

// Grays
$white: #fefefe;
$super-light-gray: #f7f7f7;
$light-gray: #bdc3c7;
$mid-gray: #95a5a6;
$dark-gray: #7f8c8d;
