
// Total Number of Columns
$grid_base: 12;   // Works best with 12 Columns

// Columns
$grid_gutter: 2%;
$grid_padding: 0%;
$grid_vertical-space: 5.5rem; // Use `rem`

// Rows
$grid_width: 85%;
$grid_max-width: 1140px;
$grid_max-width_large: 1550px;  // For Large Desktops



// Imports
@import "rows";
@import "columns";